.navbar {
    display: flex;
    justify-content: space-between;
}

.href {
    text-decoration: none;
    color: white;
    padding-left: 30px;
}

@media screen and (max-width: '650px') {
    .navbar {
        display: flex;
        flex-direction: column;
    }
}