.message {
    overflow: hidden;
    color: white;
    margin: auto;
    width: 80%;
    height: 18rem;
    box-shadow: 0px 1px 5px rgb(153, 169, 175);
    background: #21293C;
}

.message-titles {
    padding: 20px 50px;
    text-align: center;
}

.message-tittle {
    font-weight: 600;
    font-size: 35px;
}

#message-comment {
    font-size: 20px;
    padding: 20px 40px;
}

.message-button {
    justify-content: center;
    display: flex;
}

#text {
    border-radius: 50px;
    width: 40%;
    height: 2rem;
    text-align: center;
    font-size: 16px;
}

.btn-nn {
    margin-left: 15px;
    text-decoration: none;
    border-radius: 50px;
    width: 25%;
    height: 2rem;
    color: white;
    padding-top: 14px;
    font-size: 14px;
    text-align: center;
    background: rgb(82, 222, 247);
}

@media screen and (max-width: '768px') {
    .message {
        width: 100%!important;
        height: 20rem!important;
    }

    .btn-nn {
        width: 60%;
        height: 1.4rem;
        padding-top: 16px;
        font-size: 12px;
    }

    .message-tittle {
        font-weight: 500;
        font-size: 25px;
    }

    .message-button {
        display: flex;
        justify-content: center;
    }
    
    #message-comment {
        font-size: 14px;
        padding: 10px 20px;
    }

    #text {
        border-radius: 50px;
        width: 80%;
        height: 2rem;
        font-size: 12px;
    }
}
